.container {
    margin-left: 250px;
    margin-right: 1.5rem;
}

.boas_vindas{
    margin-top: 10rem;
    margin-bottom: 2rem;
    color: #1C528A;
    font-size: 14px;
    font-weight: bold;
    font-family: DMsans, "Helvetica Neue",  ;
    text-transform: uppercase;
}

.text1 {
    font-family: DMsans, "Helvetica Neue",  ;
    color: var(--dark-blue, #1C528A);
    font-size: 60px;
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 130%; 
}

.span {
    color: var(--pink, #E45865);
}

.marcarConsult {
    margin-top:20px;
    width: 1124px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--surface, #FFF);
  
  /* 08 dp */
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.20), 0px 3px 14px 0px rgba(0, 0, 0, 0.12), 0px 8px 10px 0px rgba(0, 0, 0, 0.14);
  }

.consult {
    padding-left: 80px;
    padding-top: 20px;
    margin-bottom: 40px;
    font-family: DMsans, "Helvetica Neue",  ;
    color: var(--dark-blue, #1C528A);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.textimag {
    grid-columns: 2;
    itens-center: center;
}


 .image {
    position: relative;
    border-radius: 0.25rem;
  }
  
 
 .image::before {
    border-radius: 0.25rem;
  }

 .textp {
    margin-top: 2rem;
    margin-left: 2rem;
 }

 .input {
   border: 1px solid  #1C528A;
   margin-left: 150px;
   height: 35px;
 }

 .label {
  margin-left: 150px;
  margin-top: 50px;
  color: var(--dark-blue, #1C528A);
}

.button {
  margin-left: 150px;
  margin-top: 25px;
  text-align: center;
  width: 200px;
  height: 35px;
  border-radius: 40px;
  background-color:  var(--pink, #E45865);
}

.spanButton {
  color: white;
}

.about {
  margin-top: 80px;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.shapes {
  position : absolute;
  margin-left: 10px;
}

.h2text2 {
    color: var(--dark-blue, #1C528A);
    font-weight: 700;
    font-family: DMsans, "Helvetica Neue",  ; 
    font-size: 28px;
    margin-right: 100px;
  }

  .wrapper {
    margin-top: 50px;
    max-height: 500px;
    max-width: 100%;
    border: 0px solid #ddd;

  }


